/**	
 * Custom Style
 * Autor: Lpinto
 * Version: v1.3
 */


@mixin meter-line {
  	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 10px;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#app{
	background: $light;

	/************ Header & Sidebar ************/

	.navbar{
		min-height: 50px;
		background-color: $dark;

	}

	#accordionSidebar{
		background-color: $primary; 
		background-image: linear-gradient(180deg,  $secondary 10%, $dark 100%); 
		background-size: cover;
		color: $white;

		.sidebar-brand{
			color: $white;
		}
		.nav-item {
				.collapse-item,
				.nav-link{
					white-space: nowrap;
				  	overflow: hidden;
				  	text-overflow: ellipsis;
				}
		}

		#sidebarToggle{
			border-radius: $border-radius;
		}

		.collapse-inner{
			border-radius: $border-radius;
		}
	}

	/************ Texts ************/

	.title {
	    background: $dark;
	    /*font-family: 'Porter Medium';*/
	    position: relative;
	    display: inline-block;
	    padding: 10px 20px;
	    margin-bottom: 30px;
	    font-weight: 700;
	    color: #FFF;
	    margin-left: -18px;

	    b{
	    	color: $primary;
	    }

	    &:after {
		    content: '';
		    display: block;
		    position: absolute;
		    border-width: 15px;
		    border-style: solid;
		    border-top-color: $dark;
		    border-bottom-color: transparent;
		    border-left-color: transparent;
		    border-right-color: transparent;
		    bottom: -28px;
		}
	}

	.sub_title{
		color:  $secondary;
		font-weight: 700;
	}

	/************ Usuario ************/

	.timeline{
		list-style: none;
		position: relative;

		&:before{
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			width: 1px;
			background: #CCC;
			left: 16px;
		}
		
		& > li{
			position: relative;
			padding-bottom: 20px;

			b{
				font-size: 12px;
				text-transform: uppercase;
				display: block;
				color: $dark;
			}

			&:before{
				content: "";
				display: block;
				position: absolute;
				height: 10px;
				width: 10px;
				background: $primary;
				left: -29px;
				top: 4px;
				border: 2px solid #FFF;
			}
		}
	}

	.meter-line{
		position: relative;
		padding-bottom: 20px;
		&:before{
			top: 7px;
		}

		span{
			font-size: 12px;
			color: $gray-700;
		}

		&.native:after,
		&.expert:after{
			@include meter-line;
			background: $dark;
		}

		&.high:after{
			@include meter-line;
			background: -webkit-linear-gradient(left, $dark 0%, $dark 75%, $secondary 75%);
			background: -o-linear-gradient(left, $dark 0%, $dark 75%, $secondary 75%);
			background: linear-gradient(to right, $dark 0%, $dark 75%, $secondary 75%);
		}

		&.medium:after{
			@include meter-line;
			background: -webkit-linear-gradient(left, $dark 0%, $dark 50%, $secondary 50%);
			background: -o-linear-gradient(left, $dark 0%, $dark 50%, $secondary 50%);
			background: linear-gradient(to right, $dark 0%, $dark 50%, $secondary 50%);
		}

		&.low:after{
			@include meter-line;
			background: -webkit-linear-gradient(left, $dark 0%, $dark 25%, $secondary 25%);
			background: -o-linear-gradient(left, $dark 0%, $dark 25%, $secondary 25%);
			background: linear-gradient(to right, $dark 0%, $dark 25%, $secondary 25%);
		}
	}

	.jobs{

		& > li{
			font-size: 12px;

			.position{
				display: block;
				font-size: 14px;
			}

			.company{
				text-transform: uppercase;
				font-weight: 700;
				display: block;
				font-size: 16px;
				color: $dark;
			}
			.address{
				display: block;
				font-size: 14px
			}

			.actions{
				opacity: 0.2;
				transition: all 0.3s ease-in-out;
			}

			&:hover .actions{
				opacity: 1;
			}
		}
	}

	.languages,
	.softwares{
		list-style: square;
		padding-left: 20px;
	}

	.action-btn{
		position: absolute;
		top: 0;
		right: 0;
		background: $primary;
		color: $dark;
		padding: 7px 10px;
		transition: all ease-in-out 0.3s;

		&:hover{
			background: $dark;
			color: $white;
		}
	}

	/************ Progress Bar ************/
	#nprogress{
		pointer-events: none;

		.bar {
		    background:  $secondary;
		    position: fixed;
			  z-index: 1031;
			  top: 0;
			  left: 0;

			  width: 100%;
			  height: 2px;
		}
		.peg {
		    display: block;
			position: absolute;
			right: 0px;
			width: 100px;
			height: 100%;
			opacity: 1.0;

			-webkit-transform: rotate(3deg) translate(0px, -4px);
			  -ms-transform: rotate(3deg) translate(0px, -4px);
			      transform: rotate(3deg) translate(0px, -4px);
		}
		.spinner {
			display: block;
			position: fixed;
			z-index: 1031;
			top: 15px;
			right: 15px;
		}
		.spinner-icon {
			width: 18px;
			height: 18px;
			box-sizing: border-box;

			border: solid 2px transparent;
			border-top-color:  $secondary;
		    border-left-color:  $secondary;
			border-radius: 50%;

			-webkit-animation: nprogress-spinner 400ms linear infinite;
			      animation: nprogress-spinner 400ms linear infinite;
		}
	}
	.nprogress-custom-parent {
		overflow: hidden;
		position: relative;

		#nprogress {
			
			.spinner,
			.bar {
				position: absolute;
			}
		}
	}

	/************ Modal ************/
	.modal-content {
		border-radius: $border-radius !important;

		.modal-header {
		    border-top-left-radius: $border-radius !important;
		    border-top-right-radius: $border-radius !important;
		}
		.modal-footer {
		    border-bottom-right-radius: $border-radius !important;
		    border-bottom-left-radius: $border-radius !important;
		}
	}


	/************ Buttons ************/

	a{
		&.nav-link{
			color: #FFF;
		}
		color: $dark;
	}

	.btn,
	.swal2-actions button{
		border-radius: $border-radius !important;
	}

	a.btn,
	button.btn.custom {

		color: #FFF !important;
	    border: 0;
	    padding: 10px 20px;
	    margin: 0 5px 5px 10px;
	    display: inline-block;
		border-radius: $border-radius !important;
	    position: relative;
	    overflow: hidden;

	    i.fa,
	    i.far,
	    i.fas,
	    i.fab{
		    position: absolute;
		    left: 2px;
		    top: 10%;
		    font-size: 35px;
		    opacity: 0.2;
		    transition: all ease-in-out 0.3s
		}

		&.btn-default:hover{
			background: $gray-100;
		}
		&.btn-info{
			color: #fff;
			background-color: $primary !important;
		}

		&:hover i.fa,
	    &:hover i.far,
	    &:hover i.fas,
	    &:hover i.fab{
		    color: #30373A;
		    transform: rotate(5deg);
		}
	}

	.dropdown-header {
		color: #fff;
		background-color: $primary !important;
	}

	.dropdown-list{

		.dropdown-header{
			background-color: $dark !important;
			border: 0;
		}
	}

	.dropdown-menu{
		background: $light !important;
	}

	/************ Select2 ************/
	.select2-container--default{

	    .select2-selection--single{
	        background-color: $light;
	        border: 0;
	        padding: 6px 9px;
	        border-radius: $border-radius;
	        min-height: 38px;

	        .select2-selection__arrow {
	            top: 7px;
	        }

	        .select2-selection__rendered {
	            color: #73879C;
	        }

	        .select2-selection__arrow {
	            height: 36px;
	            position: absolute;
				top: 2px;
				right: 2px;
	        }
	    }

	    .select2-selection--multiple {
	        background-color: $light;
	        border: 0;
	        border-radius: $border-radius;
	        min-height: 38px;

	        .select2-selection__arrow {
	            top: 7px;
	        }

	        .select2-selection__rendered {
	            padding-top: 3px;
	        }

	        .select2-selection__choice,
	        .select2-selection__clear {
	            margin-top: 2px;
	            border: none;
	            border-radius: $border-radius;
	            padding: 3px 5px;
	        }

	        .select2-container--default.select2-container--focus .select2-selection--multiple {
	            border: 1px solid #ccc;
	        }
	    }
	    
	    .select2-results__option {
		    text-transform: capitalize;
		}
	}

	/************ Error Label ************/
	.label.error,
	.label-error {
	    color: red;
	    font-weight: 700;
	    font-size: 12px;
	}

	/************ Modal ************/
	.modal-dialog{

	    .modal-content{

	    	border: 0;

	        .modal-header{
	        	color: #fff !important;
				background-color: $dark !important;

	            .close {
	                margin: 0;
	                padding: 0;
	                float: right;
	                color: #FFF;
	                text-shadow: none !important;
	            }
	            .modal-title{
	                color: #FFF;
	            }
	        }
	    }
	}

	.swal2-popup.swal2-modal,
	.swal2-popup.swal2-toast{
		 border-radius: $border-radius;
	}

	/************ DataTable ************/

	.table-responsive{
		overflow-x: unset;

		.dataTables_wrapper {
		    position: relative;
		    clear: both;
		    padding-top: 20px;

		    .dataTables_length {
			    width: 40%;
			    float: left;
			    select{
			    	background: $light;
				    padding: 6px 9px;
				    border: 0px;
			    }
			}
			.dataTables_processing{
				font-weight: 700;
				color: #444;
				text-align: center;
				width: 100%;
				height: 100%;
				z-index: 999;
				background: rgba(255,255,255,0.8);
				position: absolute;
				padding: 2%;
			}
			.dataTables_filter {
			    width: 50%;
			    float: right;
			    text-align: right;

			    input[type="search"] {
				    border: 0;
				    background: $light;
				    margin-left: 10px;
				    padding: 6px 9px;
				}
			}
			.dataTables_info {
			    width: 60%;
			    float: left
			}
		}

		.dataTables_paginate{
			float: right;
		    text-align: right;

			a,
			.ellipsis {
			    padding: 6px 9px !important;
			    background: #ddd !important;
			    border: 0 !important
			}
		}

		.dataTables_empty {
		    text-align: center;
		}
		.actions{
			.btn{
				padding: 6px 12px !important;
				border-radius: $border-radius !important;
			}
		}
	}

	.dtsp-panesContainer{

		.dtsp-searchPanes .dtsp-searchPane{

			.dataTables_wrapper{
				border: 0;
			}

			.dataTables_scrollBody .dtsp-pill {
				background: $dark;
				color: $white;
			}
		}
	}


	/************ Forms ************/
	.container-fluid{
		min-height: 75vh;
	}

	.toggle.btn{

		border: 1px solid #CCC;
		background: #FFF !important;
		min-width: 100px !important;

		.toggle-handle.btn-default{
			background-color: #fff !important;
			border: 1px solid #CCC;
		}
	}

	.form-control{
		border-radius: $border-radius !important;
		background: $light;
		border: 0;
	}

	input[disabled],
	select[disabled],
	.select2-selection--single[aria-disabled=true]{
		background: #CCC;
		color: #999;
	}

	input[type=color]{
		width: 50px;
	}
}