span.field {
  display: block;
  padding: 5px 10px;
  width: 100%;
  background: #E6E6E6;
}

#items-details table {
  width: 100%;
}

#items-details table tbody td {
  padding: 5px;
  font-size: 12px;
}

#items-details table tbody td input[type=number] {
  border: 0;
  border-bottom: 1px solid #CCCCCC;
  background: transparent;
  padding: 5px;
  font-size: 12px;
}

#items-details table tbody td textarea {
  border: 0;
  border-bottom: 1px solid #CCCCCC;
  background: transparent;
  padding: 5px;
  font-size: 12px;
  width: 100%;
}

